
bin/Debug/AForge.dll
bin/Debug/AForge.Imaging.dll
bin/Debug/AForge.Imaging.xml
bin/Debug/AForge.Math.dll
bin/Debug/AForge.Math.xml
bin/Debug/AForge.xml
bin/Debug/Bio.dll
bin/Debug/Bio.dll.config
bin/Debug/Bio.pdb
bin/Debug/BioApp.exe
bin/Debug/BioApp.exe.config
bin/Debug/BioApp.pdb
bin/Debug/BioFormats.Net.dll
bin/Debug/BitMiracle.LibTiff.NET.dll
bin/Debug/BitMiracle.LibTiff.NET.xml
bin/Debug/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/CSScriptLib.dll
bin/Debug/CSScriptLib.xml
bin/Debug/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/de/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/done
bin/Debug/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/es/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/Functions/Max.func
bin/Debug/Functions/Min.func
bin/Debug/Gma.System.MouseKeyHook.dll
bin/Debug/hs_err_pid23524.log
bin/Debug/hs_err_pid27992.log
bin/Debug/hs_err_pid39012.log
bin/Debug/hs_err_pid4296.log
bin/Debug/ikvm-native-win32-x64.dll
bin/Debug/ikvm-native-win32-x86.dll
bin/Debug/IKVM.AWT.WinForms.dll
bin/Debug/IKVM.OpenJDK.Beans.dll
bin/Debug/IKVM.OpenJDK.Charsets.dll
bin/Debug/IKVM.OpenJDK.Cldrdata.dll
bin/Debug/IKVM.OpenJDK.Corba.dll
bin/Debug/IKVM.OpenJDK.Core.dll
bin/Debug/IKVM.OpenJDK.Jdbc.dll
bin/Debug/IKVM.OpenJDK.Localedata.dll
bin/Debug/IKVM.OpenJDK.Management.dll
bin/Debug/IKVM.OpenJDK.Media.dll
bin/Debug/IKVM.OpenJDK.Misc.dll
bin/Debug/IKVM.OpenJDK.Naming.dll
bin/Debug/IKVM.OpenJDK.Nashorn.dll
bin/Debug/IKVM.OpenJDK.Remoting.dll
bin/Debug/IKVM.OpenJDK.Security.dll
bin/Debug/IKVM.OpenJDK.SwingAWT.dll
bin/Debug/IKVM.OpenJDK.Text.dll
bin/Debug/IKVM.OpenJDK.Tools.dll
bin/Debug/IKVM.OpenJDK.Util.dll
bin/Debug/IKVM.OpenJDK.XML.API.dll
bin/Debug/IKVM.OpenJDK.XML.Bind.dll
bin/Debug/IKVM.OpenJDK.XML.Crypto.dll
bin/Debug/IKVM.OpenJDK.XML.Parse.dll
bin/Debug/IKVM.OpenJDK.XML.Transform.dll
bin/Debug/IKVM.OpenJDK.XML.WebServices.dll
bin/Debug/IKVM.OpenJDK.XML.XPath.dll
bin/Debug/IKVM.Runtime.dll
bin/Debug/IKVM.Runtime.JNI.dll
bin/Debug/input.txt
bin/Debug/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/it/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/Microsoft.CodeAnalysis.CSharp.pdb
bin/Debug/Microsoft.CodeAnalysis.CSharp.Scripting.dll
bin/Debug/Microsoft.CodeAnalysis.CSharp.Scripting.pdb
bin/Debug/Microsoft.CodeAnalysis.CSharp.Scripting.xml
bin/Debug/Microsoft.CodeAnalysis.CSharp.xml
bin/Debug/Microsoft.CodeAnalysis.dll
bin/Debug/Microsoft.CodeAnalysis.pdb
bin/Debug/Microsoft.CodeAnalysis.Scripting.dll
bin/Debug/Microsoft.CodeAnalysis.Scripting.pdb
bin/Debug/Microsoft.CodeAnalysis.Scripting.xml
bin/Debug/Microsoft.CodeAnalysis.xml
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/RGB48.ome.ome.tif
bin/Debug/RGB48.ome.tif
bin/Debug/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/Scripts/CropFiles.fiji.ijm
bin/Debug/Scripts/Filter.cs
bin/Debug/Scripts/Points.cs
bin/Debug/Scripts/Sample.cs
bin/Debug/Scripts/Test.cs
bin/Debug/Scripts/test.ijm
bin/Debug/Scripts/testome.ijm
bin/Debug/System.Buffers.dll
bin/Debug/System.Buffers.xml
bin/Debug/System.Collections.Immutable.dll
bin/Debug/System.Collections.Immutable.xml
bin/Debug/System.Memory.dll
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Reflection.Metadata.dll
bin/Debug/System.Reflection.Metadata.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Text.Encoding.CodePages.dll
bin/Debug/System.Text.Encoding.CodePages.xml
bin/Debug/System.Threading.Tasks.Extensions.dll
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/System.Xml.XPath.XmlDocument.dll
bin/Debug/Tools/Points.cs
bin/Debug/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/WindowsInput.dll
bin/Debug/WindowsInput.xml
bin/Debug/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Debug/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Debug/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/AForge.dll
bin/Release/AForge.Imaging.dll
bin/Release/AForge.Imaging.xml
bin/Release/AForge.Math.dll
bin/Release/AForge.Math.xml
bin/Release/AForge.xml
bin/Release/Bio.dll
bin/Release/Bio.dll.config
bin/Release/Bio.pdb
bin/Release/BioApp.exe
bin/Release/BioApp.exe.config
bin/Release/BioApp.pdb
bin/Release/BioFormats.Net.dll
bin/Release/BitMiracle.LibTiff.NET.dll
bin/Release/BitMiracle.LibTiff.NET.xml
bin/Release/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/cs/Microsoft.CodeAnalysis.resources.dll
bin/Release/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/CSScriptLib.dll
bin/Release/CSScriptLib.xml
bin/Release/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/de/Microsoft.CodeAnalysis.resources.dll
bin/Release/de/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/es/Microsoft.CodeAnalysis.resources.dll
bin/Release/es/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/fr/Microsoft.CodeAnalysis.resources.dll
bin/Release/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/Functions/Max.func
bin/Release/Functions/Min.func
bin/Release/Gma.System.MouseKeyHook.dll
bin/Release/ikvm-native-win32-x64.dll
bin/Release/ikvm-native-win32-x86.dll
bin/Release/IKVM.AWT.WinForms.dll
bin/Release/IKVM.OpenJDK.Beans.dll
bin/Release/IKVM.OpenJDK.Charsets.dll
bin/Release/IKVM.OpenJDK.Cldrdata.dll
bin/Release/IKVM.OpenJDK.Corba.dll
bin/Release/IKVM.OpenJDK.Core.dll
bin/Release/IKVM.OpenJDK.Jdbc.dll
bin/Release/IKVM.OpenJDK.Localedata.dll
bin/Release/IKVM.OpenJDK.Management.dll
bin/Release/IKVM.OpenJDK.Media.dll
bin/Release/IKVM.OpenJDK.Misc.dll
bin/Release/IKVM.OpenJDK.Naming.dll
bin/Release/IKVM.OpenJDK.Nashorn.dll
bin/Release/IKVM.OpenJDK.Remoting.dll
bin/Release/IKVM.OpenJDK.Security.dll
bin/Release/IKVM.OpenJDK.SwingAWT.dll
bin/Release/IKVM.OpenJDK.Text.dll
bin/Release/IKVM.OpenJDK.Tools.dll
bin/Release/IKVM.OpenJDK.Util.dll
bin/Release/IKVM.OpenJDK.XML.API.dll
bin/Release/IKVM.OpenJDK.XML.Bind.dll
bin/Release/IKVM.OpenJDK.XML.Crypto.dll
bin/Release/IKVM.OpenJDK.XML.Parse.dll
bin/Release/IKVM.OpenJDK.XML.Transform.dll
bin/Release/IKVM.OpenJDK.XML.WebServices.dll
bin/Release/IKVM.OpenJDK.XML.XPath.dll
bin/Release/IKVM.Runtime.dll
bin/Release/IKVM.Runtime.JNI.dll
bin/Release/input.txt
bin/Release/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/it/Microsoft.CodeAnalysis.resources.dll
bin/Release/it/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/ja/Microsoft.CodeAnalysis.resources.dll
bin/Release/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/ko/Microsoft.CodeAnalysis.resources.dll
bin/Release/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/Microsoft.CodeAnalysis.CSharp.dll
bin/Release/Microsoft.CodeAnalysis.CSharp.pdb
bin/Release/Microsoft.CodeAnalysis.CSharp.Scripting.dll
bin/Release/Microsoft.CodeAnalysis.CSharp.Scripting.pdb
bin/Release/Microsoft.CodeAnalysis.CSharp.Scripting.xml
bin/Release/Microsoft.CodeAnalysis.CSharp.xml
bin/Release/Microsoft.CodeAnalysis.dll
bin/Release/Microsoft.CodeAnalysis.pdb
bin/Release/Microsoft.CodeAnalysis.Scripting.dll
bin/Release/Microsoft.CodeAnalysis.Scripting.pdb
bin/Release/Microsoft.CodeAnalysis.Scripting.xml
bin/Release/Microsoft.CodeAnalysis.xml
bin/Release/Newtonsoft.Json.dll
bin/Release/Newtonsoft.Json.xml
bin/Release/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/pl/Microsoft.CodeAnalysis.resources.dll
bin/Release/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Release/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/ru/Microsoft.CodeAnalysis.resources.dll
bin/Release/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/Scripts/Points.cs
bin/Release/System.Buffers.dll
bin/Release/System.Buffers.xml
bin/Release/System.Collections.Immutable.dll
bin/Release/System.Collections.Immutable.xml
bin/Release/System.Memory.dll
bin/Release/System.Memory.xml
bin/Release/System.Numerics.Vectors.dll
bin/Release/System.Numerics.Vectors.xml
bin/Release/System.Reflection.Metadata.dll
bin/Release/System.Reflection.Metadata.xml
bin/Release/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/System.Runtime.CompilerServices.Unsafe.xml
bin/Release/System.Text.Encoding.CodePages.dll
bin/Release/System.Text.Encoding.CodePages.xml
bin/Release/System.Threading.Tasks.Extensions.dll
bin/Release/System.Threading.Tasks.Extensions.xml
bin/Release/System.Xml.XPath.XmlDocument.dll
bin/Release/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/tr/Microsoft.CodeAnalysis.resources.dll
bin/Release/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/WindowsInput.dll
bin/Release/WindowsInput.xml
bin/Release/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Release/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
bin/Release/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
bin/Release/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Release/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/BioApp.csproj.AssemblyReference.cache
obj/Debug/BioApp.csproj.CoreCompileInputs.cache
obj/Debug/BioApp.csproj.FileListAbsolute.txt
obj/Debug/BioApp.csproj.GenerateResource.cache
obj/Debug/BioApp.exe
obj/Debug/BioApp.pdb
obj/Debug/BioApp.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Release/BioApp.csproj.AssemblyReference.cache
obj/Release/BioApp.csproj.CopyComplete
obj/Release/BioApp.csproj.CoreCompileInputs.cache
obj/Release/BioApp.csproj.FileListAbsolute.txt
obj/Release/BioApp.csproj.GenerateResource.cache
obj/Release/BioApp.exe
obj/Release/BioApp.pdb
obj/Release/BioApp.Properties.Resources.resources
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
